html, body { height: 100%; }
body { margin: 0; font-family: Century Gothic; }

.spacer{
    flex: 1 1 auto;
}

/* Negar el panel encima del mapa */
.leaflet-routing-container h2,
.leaflet-routing-container h3,
.leaflet-routing-container td {
  display: none !important;
}