/* Color de fondo del cuerpo */
body {
  background: linear-gradient(0deg, #ffffff, #75b0e1) fixed; /*Color de fondo de la página*/
}
  .box{
    display: flex; /*Dónde colocar el contenedor (esquina, abajo, etc.)*/
    justify-content: center; /*Justificación del contenedor*/
    align-items: center; /*Alineación del item*/
    min-height: 90vh; /*Espaciado entre la caja de login y el navbar*/
  }
  
  /*Contenedor de afuera*/
  .container {
    background-color: #ffffff; /*Color de fondo del login*/
    padding: 5%; /*Espacio que ocupa el login a lo largo*/
    border-radius: 8px; /*Radio del borde del login*/
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /*Color de la sombra del login*/
    max-width: 40%; /*Espacio que ocupa a los costados el login*/
    width: 80%; /*Ancho del documento a los lados*/
  }
  
  /* Contenedor iniciar sesión*/
  .submit{
    border: none; /*Borde de la caja de submit*/
    border-radius: 30px; /**/
    font-size: 15px;
    height: 45px;
    outline: none;
    width: 100%;
    background: rgba(183, 183, 183, 0.9); /* Color del botón */
    cursor: pointer;
    transition: .3s;
  }
  .submit:hover{
    box-shadow: 1px 5px 7px 1px rgba(0, 0, 0, 0.6);
  }
  
  .input {
    width: 80%;
    height: 30px;
    padding: 20px 0px 20px 40px;
    border-radius: 999px;
    border: solid 1px #828282;
    transition: all .2s ease-in-out;
    outline: none;
    opacity: 0.8;
  }
  
  /* Texto de Iniciar Sesión */
  header{
    font-family: Century Gothic;
    color: black;
    font-size: 30px;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }

  .button {
    font-family: Century Gothic;
  }
  
  /* Contenedor input */
  .input-field{
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
  }
  
  /* Contenedor usuario y contraseña */
  .input-field .input{
    height: 45px; /*Tamaño alto del contenedor*/
    width: 100%; /*Tamaño largo del contenedor*/
    border: none; /*Borde del contenedor*/
    outline: none; /*Fuera de la línea*/
    border-radius: 30px; /*Radio del borde*/
    color: black; /*Color del texto dentro del contenedor*/
    padding: 0 0 0 30px; /*Margen dentro del contenedor a la izquierda*/
    background: rgba(255,255,255,0.6); /*Color del relleno del contenedor*/
    border: solid 1px #000000; /*Color del borde del contenedor*/
  }
  
  i{
    position: relative;
    top: -310px;
    left: 17px;
    color: #000000;
  }
  
  /* Letra contenedor */
  ::-webkit-input-placeholder{
    color: #000000;
  }
  
  .register{
    margin-top: 5%;
    border: none;
    border-radius: 30px;
    font-size: 15px;
    height: 45px;
    outline: none;
    width: 100%;
    background: rgba(255,255,255,0.9);
    cursor: pointer;
    transition: .3s;
  }
  .register:hover{
    box-shadow: 1px 5px 7px 1px rgba(0, 0, 0, 0.6);
  }
  
  .left{
    display: flex;
  }
  
  /* Buscador */
  .container-input {
    position: relative;
  }
  
  .input {
    margin-top: 5%;
    width: 100%;
    padding: 7%;
    border-radius: 9px;
    border: solid 1px #333;
    transition: all .2s ease-in-out;
    outline: none;
    opacity: 0.8;
  }
  
  .container-input svg{
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translate(0, -50%);

  }
  
  /* Fondo de icono*/
  .button {
    margin-top: 8%;
    padding: 5%;
    font-size: 15px;
    height: 45px;
    outline: none;
    width: 100%;
    margin-bottom: 10px;
  }