<mat-sidenav-container>
  <mat-sidenav #sidenav mode="push" [ngStyle]="{ width: '20%' }">
    <mat-toolbar color="warn">
      <span>Menú</span>
      <span class="spacer"></span>
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </mat-toolbar>

    <mat-nav-list>
      <mat-list-item *ngFor="let item of sidebarItem" [routerLink]="item.url" (click)="sidenav.toggle()">
        <mat-icon matListItemIcon> {{ item.icon }} </mat-icon>
        {{ item.label }}
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>

  <mat-toolbar color="primary">
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Menú </span> <!-- Etiqueta -->

    <!-- Inicia el botón de Facebook -->
    <span class="spacer"></span>
    <button class="fb mdi mdi-facebook" *ngIf="!loggedIn" (click)="signInWithFB()"> Inicia sesión</button>
    <div *ngIf="loggedIn">
      <img src="{{ user.photoUrl }} "><span> {{ user.name }}</span>
    </div>
    <!-- Termina Facebook -->
  </mat-toolbar>
  <router-outlet></router-outlet>
</mat-sidenav-container>