/* Global Styles */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Century Gothic;
  background-color: #ffffff; /* Gris claro */
}

/* Introducción */

.introduccion {
  background-size: cover;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000; /* Negro */
}

.introduccion p { /*Dolores Hidalgo letras*/
  font-size: 36px;
  margin: 0;
  color: #000; /* Gris oscuro */
  text-align: center;
}

/* Presentación */

.presentacion {
  font-family: Century Gothic;
  padding: 20px;
}

.presentacion p {
  font-size: 18px;
  margin: 20px 0;
  color: #444; /* Gris medio */
  text-align: justify;
  margin-left: 10%;
  margin-right: 10%;
}

/* Imágenes */

.imagenes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.imagenes img {
  width: 30%;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background-color: #f7f7f7; /* Gris claro */
  border: 1px solid #ddd;
}

/* Responsive Design */

@media (max-width: 1200px) {
  .introduccion {
    height: 250px;
  }
  .imagenes img {
    width: 40%;
  }
}

@media (max-width: 992px) {
  .introduccion {
    height: 200px;
  }
  .imagenes img {
    width: 50%;
  }
}

@media (max-width: 768px) {
  .introduccion {
    height: 150px;
  }
  .imagenes img {
    width: 60%;
  }
}

@media (max-width: 480px) {
  .introduccion {
    height: 100px;
  }
  .imagenes img {
    width: 80%;
  }
}

@media (max-width: 320px) {
  .introduccion {
    height: 80px;
  }
  .imagenes img {
    width: 90%;
  }
}

#map {
  height: 70%;       /* Ocupa el 70% de la altura del contenedor */
  width: 60%;        /* Ocupa el 60% del ancho del contenedor */
  margin-bottom: 3%;   /* 5% de espacio arriba y abajo, auto centrado a los lados */
  border: 1px solid #ddd; /* Opcional: agregar un borde */
  border-radius: 10px;    /* Opcional: redondear las esquinas */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Sombra para darle un poco de estilo */
}

#ubicacion {
  height: 70%;     /* Asegura que el contenedor del mapa ocupe toda la altura de la ventana */
  display: flex;     /* Centra el mapa horizontal y verticalmente */
  justify-content: center;
  align-items: center;
}

#titleMap {
  font-family: Century Gothic;
  font-size: 40px;
  color: #000000;
  text-align: center;
  padding: 2%;
}

