<body>
	<div class="introduccion">
		<p>CONOCE LA CIUDAD DE DOLORES HIDALGO C.I.N.</p>
	</div>

	<div class="presentacion">
		<p>
			ESTE PUEBLO MÁGICO ES PATRIMONIO HISTÓRICO Y CUNA DE LA INDEPENDENCIA. PRESERVA SECRETOS, COMO LA CATEDRAL,
			TESTIGO SILENCIOSO QUE GUARDA ENTRE SUS MUROS EL SONIDO DE LA VOZ DEL CURA MIGUEL HIDALGO CUANDO DIÓ EL
			GRITO
			DE INDEPENDENCIA. MIENTRAS CAMINAS POR ESTE ENCANTADOR E INTERESANTE PUEBLO, LLENO DE MUSEOS Y MONUMENTOS
			QUE
			NARRAN LA HISTORIA DE MÉXICO, DEJATE CAUTIVAR POR ESTE LUGAR REPLETO DE TRADICIONES Y CULTURA, DONDE CADA
			RINCÓN
			TE TRANSPORTA A ÉPOCAS PASADAS Y TE INVITA A DESCUBRIR LOS DETALLES DE UNA HERENCIA QUE SIGUE VIVA EN EL
			PRESENTE.
		</p>
	</div>

	<div id="titleMap">
		<p>Ubicación</p><mat-icon>arrow_downward</mat-icon>
	</div>

	<div id="ubicacion">
		<div id="map" style="height: 200px; width: 50%"></div>
	</div>

	<!-- INICIAN IMÁGENES -->
	<div class="imagenes">
		<img src="https://th.bing.com/th/id/R.66b3b5c4fd0e0ad1293b1354f40c3ff3?rik=h6XzxGH5u6xKJw&pid=ImgRaw&r=0"
			alt="Feria de las nieves">
		<img src="https://th.bing.com/th/id/OIP.x0-kRww-7U3fCNL9qJKtUwHaE8?rs=1&pid=ImgDetMain"
			alt="Calle de Dolores Hidalgo">
		<img src="https://th.bing.com/th/id/R.de5a78f72577585737127c4b6368395b?rik=pUzHzBTEaHZnJg&pid=ImgRaw&r=0"
			alt="Museo de Dolores Hidalgo">
		<img src="https://th.bing.com/th/id/OIP.ocPyjX1OsWjnIL3MJE6hegAAAA?rs=1&pid=ImgDetMain"
			alt="Feria de las nieves">