<body>
	<div class="introduccion">
		<p>CONOCE LA CIUDAD DE DOLORES HIDALGO C.I.N.</p>
	</div>

	<div class="presentacion">
		<p>
			ESTE PUEBLO MÁGICO ES PATRIMONIO HISTÓRICO Y CUNA DE LA INDEPENDENCIA. PRESERVA SECRETOS, COMO LA CATEDRAL,
			TESTIGO SILENCIOSO QUE GUARDA ENTRE SUS MUROS EL SONIDO DE LA VOZ DEL CURA MIGUEL HIDALGO CUANDO DIÓ EL
			GRITO
			DE INDEPENDENCIA. MIENTRAS CAMINAS POR ESTE ENCANTADOR E INTERESANTE PUEBLO, LLENO DE MUSEOS Y MONUMENTOS
			QUE
			NARRAN LA HISTORIA DE MÉXICO, DEJATE CAUTIVAR POR ESTE LUGAR REPLETO DE TRADICIONES Y CULTURA, DONDE CADA
			RINCÓN
			TE TRANSPORTA A ÉPOCAS PASADAS Y TE INVITA A DESCUBRIR LOS DETALLES DE UNA HERENCIA QUE SIGUE VIVA EN EL
			PRESENTE.
		</p>
	</div>

	<div id="titleMap">
		<p>Ubicación</p><mat-icon>arrow_downward</mat-icon>
	</div>

	<div id="ubicacion">
		<div id="map" style="height: 200px; width: 50%"></div>
	</div>


	<!-- GALERIA DE INSTAGRAM -->
	<h1>Api de Instagram</h1> 
	<!-- FEED DE INSTAGRAM -->
	<section id="feed-contenedor">
			<div class="main-galery"> 
	<!-- RIGTH -->
	<div class="chevron">
					<span id="prev" class="material-icon">
						&#xe5cb;
					</span>
				</div> -->

	<!-- LEFT -->
	<div class="chevron">
					<span id="next" class="material-icon">
						&#xe5cc;
					</span>
				</div> 

	<!-- GALERY -->
	 <div class="contenedor-galery">
					<div class="galery">
						<div class="image overflow">
							<img loading="lazy" src="img/AboutMe.jpg" alt="">
							<div class="opacity-hover">
								<a href="/" class="caption">
									<p>
										Hola, ¿cómo estan? jsjsjs
									</p>
								</a>
							</div>
						</div>
					</div>
				</div> -
	</div>
		</section> 

	<!-- INICIAN IMÁGENES -->
	<div class="imagenes">
		<img src="https://th.bing.com/th/id/R.66b3b5c4fd0e0ad1293b1354f40c3ff3?rik=h6XzxGH5u6xKJw&pid=ImgRaw&r=0"
			alt="Feria de las nieves">
		<img src="https://th.bing.com/th/id/OIP.x0-kRww-7U3fCNL9qJKtUwHaE8?rs=1&pid=ImgDetMain"
			alt="Calle de Dolores Hidalgo">
		<img src="https://th.bing.com/th/id/R.de5a78f72577585737127c4b6368395b?rik=pUzHzBTEaHZnJg&pid=ImgRaw&r=0"
			alt="Museo de Dolores Hidalgo">
		<img src="https://th.bing.com/th/id/OIP.ocPyjX1OsWjnIL3MJE6hegAAAA?rs=1&pid=ImgDetMain"
			alt="Feria de las nieves">
	</div>
	<div class="login-prompt">
		<h1 class="login-title">¡Conéctate con Facebook y/o Instagram descubre más sobre nuestra app!</h1>
		<p class="login-description">Accede a contenido exclusivo y mantente al tanto de todas las novedades al iniciar sesión con ambas plataformas.</p>
		<a href="https://www.facebook.com/doloreshidalgoturismo/?locale=es_LA" class="fb-login-button">Iniciar sesión con Facebook</a>
		<a href="https://www.instagram.com/turismo_dolores_hidalgo_24/" class="ig-login-button">Iniciar sesión con Instagram</a>

	  </div>
	  
	<!-- Script de inicio de sesión con Instagram-->
<div id="ig-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.instagram.net/es_LA/sdk.js#xfbml=1&version=v21.0&appId=1906096163235844"></script>

<div class="instagram-widget">
  <div class="ig-page" data-href="https://www.instagram.com/turismo_dolores_hidalgo_24/" data-tabs="timeline" data-width="1000" data-height="1000" 
       data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
    <blockquote cite="https://www.instagram.com/turismo_dolores_hidalgo_24/" class="ig-xfbml-parse-ignore">
      <a href="https://www.instagram.com/turismo_dolores_hidalgo_24/">Instagram</a>
    </blockquote>
</div>
</div>

	<!-- Script de inicio de sesión con Facebook -->
<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v21.0&appId=1906096163235844"></script>

<div class="facebook-widget">
  <div class="fb-page" data-href="https://www.facebook.com/facebook" data-tabs="timeline" data-width="1000" data-height="1000" 
       data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
    <blockquote cite="https://www.facebook.com/facebook" class="fb-xfbml-parse-ignore">
      <a href="https://www.facebook.com/facebook">Facebook</a>
    </blockquote>
  </div>
</div>

</body>