<body>
  <h1><mat-icon>storage</mat-icon>    Paquetes</h1>
  <div class="grid bm-8">
    <!-- <div class="contenedor-paypal">
      <div #paypal></div>
    </div> -->
    <div *ngFor="let paquete of paquetes" class="col-12 sm:col-4 md:col-3 xl:col-2">
      <paquetes-paquete-card [paquete]="paquete"></paquetes-paquete-card>
      <!-- Llama al card.component.ts -->
    </div>
  </div>

  <mat-divider></mat-divider>

  <h1><mat-icon>book</mat-icon>    Itinerarios</h1>
  <div class="grid bm-8">
    <div *ngFor="let itinerario of itinerarios" class="col-12 sm:col-4 md:col-3 xl:col-2">
      <itinerarios-itinerario-card [itinerario]="itinerario"></itinerarios-itinerario-card>
      <!-- Llama al card.component.ts -->
    </div>
  </div>
</body>