<!-- <div class="inicio">
    <button class="mdi mdi-twitch" *ngIf="!isAuthenticated" (click)="login()">
      Transmisiones
    </button>

  <div *ngIf="isAuthenticated">
    <img *ngIf="userData?.profile_image_url" [src]="userData.profile_image_url" alt="Imagen de perfil" /><span> {{
      userData?.display_name }}</span>
    <br /> -->
    <!-- <p>Correo: {{ userData?.email }}</p> -->
    <!-- <button (click)="logout()">Cerrar sesión</button>
    <mat-divider></mat-divider> -->

    <!-- Transmisión de Streaming -->
    <!-- <p class="mdi mdi-twitch"> Transmisión en vivo</p>
    <div class="twitch-player">
      <iframe *ngIf="userData" src="https://player.twitch.tv/?channel={{
          userData.login
        }}&parent=localhost" height="400" width="600" allowfullscreen>
      </iframe>
    </div>
  </div>
</div> -->